<div class="app-card-container">
  <div class="card">
    <h1 class="header-margin-bottom">Over mij</h1>
    <div class="row">
      <div class="col-md-4">
        <%= image_tag "rsz_1graphic.jpg", width: 300, alt: "Profiel foto", class: "profile-img" %>
      </div>
      <div class="col-md-8">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, magnam, eligendi illo ipsa minus velit dicta corrupti cum qui laborum cumque explicabo suscipit tempora rem ipsam laudantium ad ullam placeat.</p>
      </div>
    </div>
  </div>
</div>