<h1>Wilt u met mij samenwerken?</h1>
<hr>

<div class="row">
  <div class="col-md-6">
    <h3>Adres</h3>
    <p>xxxxxxxx, Assen</p>
    <h3>Telefoonnummer</h3>
    <p>06-37441xxx</p>
    <h3>Email</h3>
    <p><a href="mailto: sander@sanderxxxxxxx.nl?subject=PortfolioContact" "email mij">Email mij</a></p>
  </div>
  <div class="col-md-6">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d76865.36796523911!2d6.4789099902101706!3d52.983632671522344!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c824c1cf7ae1b1%3A0xc350e413be5175c3!2sAssen!5e0!3m2!1snl!2snl!4v1490942660638" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>  </div>

</div>
