<div class="inner cover">
  <h1 class="cover-heading">Welkom.</h1>
  <p class="lead">Software ontwikkeling moet geen geheim proces zijn, wanneer ik een nieuw project aanneem, maak ik het tot doel om niet alleen een fantastisch eindproduct af te leveren,  maar ook tijdens iedere stap in het project duidelijk te communiceren</p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>


